/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face{
    font-family: 'myriad';
    src: url('../fonts/myriad-set-pro_medium.ttf');
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
 box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
    font-family: myriad;    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
 
}
nav{ background-color: black;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*            End of CSS Reset            */

/*                 Setup                  */

/*               Borderbox                */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}
/*               End of Setup             */

.flexbox{
    display: flex;
    justify-content: space-around;
}
.photo4{
    padding: 10px;
}
.flexbox-iphone{
    display: flex;
    justify-content: center;
}
.iphone-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#center{
    text-align: center;
    color: #7676e8; 
    font-size: 1.5rem;
}
li{
    padding: 5px;  

}
a{
text-decoration: none;
color: #5f5d5d;    
}
ul{ justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;   
}
footer, section{
    background-color: #F2F2F2;
    padding-top: 10px;
    padding-bottom: 10px;
  
}
h3{font-weight: bold;
    color: #5f5d5d;     
}
h6, h5, h2, p {
    color: #5f5d5d; 
}
